/* Navbar */

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    justify-content: flex-start;
} */

 .navbarP{
    z-index: 1;
}  */

header {
    /* display: flex; */
    /* font: 600 12px Arial; */
    /* letter-spacing: 3px; */
    text-align: right;
  }
 
.HG {
        width: 50%;
        height: auto;
        padding-top: 10px;
        /* border-style: dotted; */
        display: block; /*supaya kotak displaynya si img ambil width sampe 100% , bukan gambarnya*/
        margin-left: auto;
        margin-right: auto;
}

.gambar0{
    justify-content: flex-end;
    align-items: flex-end;
}

/* Area Padding/Margin */

.area-text0{
    padding-left:10vw !important;
}

.area-text1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

.area-why0{
    padding:1vh 10vw;
}

.a:hover{
    text-decoration: none;
    color: violet;
}

.parent-img{
    position: relative;
}
.parent-img-responsive{
	width:100%;
	height:auto;	
}

.child-img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.square{
    color: aliceblue;
    background-color: #0D28A6;
    padding: 40px 0px;
    text-align: center;
    height: 350px;
    border-radius: 13px;}

.squarek{
        height: 34px;
        width: 100px;
        background-color: blue;
        margin: 10px 0px;
        text-align: center;

    }

.card {
    margin: 10px;
}

.atas{
    position: static;
     margin: 0 50px 35px 50px;
     font-weight: lighter;
}

.bawah{
    position: static;
    left: 478px;
    color: white;
    text-align: center;
    font-size: 14px; 
}

/* Media Query */

@media (max-width:768px) {

    .area-text0{
        padding-right: 10vw !important;
    }    
}

/* Media Query Revert */

@media screen and (min-width: 450px){

    .square{
        margin: 50px 100px;
        padding : 90px 0px;
    }

    #top1{
        padding-right:32px; 
        padding-left: 136px; 
        padding-top: 1.5cm;
        padding-bottom: 215px;
    }

    #top1member{
        font-size: 36px;
        font-weight: 700;
        line-height: 150%;
    }

    #HG {
        padding-right: 3cm; 
        padding-left: 4cm;
    }

    #service {
        padding-right: 2cm;
    }

    #top1member2{
        font-size: 14px;
        line-height: 20px;
    }

    #Dwhyus{
        padding-left: 27px;
    }

    .img-fluid {
        width: 100%;
    }
}

